#controls {
	text-align: center;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 90vh;
	margin: 0;
	justify-self: center;
	align-items: flex-start;
	aspect-ratio: 1/1;
	border: 1px solid black;
}

.gridBox {
	aspect-ratio: 1/1;
	flex-grow: 1;
}

body {
	margin: 0;
}