#controls {
	text-align: center;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 90vh;
	margin: 0;
	justify-self: center;
	aspect-ratio: 1/1;
	border: 1px solid black;
}

.gridBox {
	flex: 0 0 25%;
}

body {
	margin: 0;
}